<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout::site-head">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.3/toastr.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.3/toastr.min.css"/>
    <title>ReactJS + Spring Data REST</title>
    <meta charset="UTF-8"/>
</head>
<body>
<header th:replace="layout::site-navbar(home)"/>

<div id="react"></div>

<script src="built/bundle.js"></script>

<footer th:replace="layout::site-footer"/>
</body>
</html>