<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout::site-head">
    <title th:text="#{main.manufacturers}">Производители</title>
</head>

<body>
<header th:replace="layout::site-navbar(manufacturer)"/>
<div class="container">
    <h1 th:text="#{main.manufacturers}">Производители</h1>
    <br/>
    <a href="/manufacturer/create" class="btn btn-success" sec:authorize="isAuthenticated()"><span
            class="glyphicon glyphicon-plus"/> <span th:text="#{service.create}" th:remove="tag">Создать</span></a>
    <br/>
    <br/>

    <table class="table table-bordered table-hover table-striped">
        <tr>
            <th>ID</th>
            <th th:text="#{manufacturer.name}">Название</th>
            <th th:text="#{manufacturer.description}">Описание</th>
            <th th:text="#{manufacturer.address}">Адрес</th>
            <th th:text="#{service.actions}">Действия</th>
        </tr>
        <tr th:each="manufacturer : ${manufacturers}">
            <td th:text="${manufacturer.id}"/>
            <td th:text="${manufacturer.name}"/>
            <td th:text="${manufacturer.description}"/>
            <td th:text="${manufacturer.address}"/>
            <td>
                <a th:href="@{/manufacturer/{id}(id=${manufacturer.id})}" data-toggle="tooltip" data-placement="top"
                   th:title="#{service.view}">
                    <span class="glyphicon glyphicon-eye-open"/></a>
                <a th:href="|/manufacturer/${manufacturer.id}/products|" data-toggle="tooltip" data-placement="top"
                   th:title="#{main.products}">
                    <span class="glyphicon glyphicon-list"/></a>
                <a th:href="@{/manufacturer/{id}/edit(id=${manufacturer.id})}" data-toggle="tooltip"
                   data-placement="top" sec:authorize="hasAuthority('ADMIN')" th:title="#{service.edit}">
                    <span class="glyphicon glyphicon-pencil"/></a>
                <a th:href="@{/manufacturer/{id}/delete/(id=${manufacturer.id})}" data-toggle="tooltip"
                   data-placement="top" sec:authorize="hasAuthority('ADMIN')" th:title="#{service.delete}">
                    <span class="glyphicon glyphicon-trash"/></a>
            </td>
        </tr>
    </table>
</div>

<footer th:replace="layout::site-footer"/>
</body>
</html>